:root {
    --blue: #0079FF;
    --light-blue: #B2D7FF;
    --bright-blue: #E5F2FF;
    --green: #45E55F;
    --light-green: #C7F7CF;
    --bright-green: #ECFCEF;
    --red: #FF2970;
    --light-red: #FFBFD4;
    --bright-red: #FFEAF1;
    --yellow: #FFE927;
    --light-yellow: #FFF8BE;
    --bright-yellow: #FFFDE9;
    --navy: #1C172C;
    --grey: #BBB9C0;
    --light-grey: #E8E8EA;
    --dark-grey: #A4A2AB;
    --success-green: #C0FFB0;
    --success-navy-green: #29853D;
    --brand-font: Poppins, sans-serif;
    --background: #F7F7F7;
}

* {
    Font-family: Poppins, Sans serif;
    color: var(--navy);
}

h1 {
    font-size: 24px;
    margin-top: 36px;
    margin-bottom: 10px;
}

    /* Add this style to hide the actual radio buttons */
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        display: none;
    }

    #home {
        margin-left: 150px;
        margin-right: 50px;
    }

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  height: 100%;
  margin: 0; /* Remove default margin to ensure full height */
  margin-bottom: 50px;
}

label {
    font-size: 20px;
    font-weight: 600;
}

select, input {
    font-size: 20px;
    padding: 25px;
    display: flex;
    width: 100%;
    border-radius: 8px;
    border: 0px solid lightgray;
}

select:hover, input:hover {
    outline: 2px solid var(--navy);
}

.rep-wrapper {
    display: flex;
    flex-direction: column;
}

.select-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.preset-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.preset-button {
    font-size: 20px;
    width: 48px;
    height: 48px;
    background-color: white;
    color: var(--navy);
        border-radius: 8px;
}

.preset-button:hover {
    outline: 2px solid var(--dark-grey);
    background: var(--bright-blue);
}

.preset-button:active {
    background: var(--light-blue);
    outline: 2px solid var(--navy);
}

.radio-wrapper label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    min-height: 150px;
    justify-content: center;
    background-color: white;
}

.radio-wrapper label:hover {
    outline: 2px solid var(--grey);
}

/* Style the label of the checked radio button */
input[type="radio"]:checked + label {
    color: var(--blue);
    background-color: var(--bright-blue);
    outline: 2px solid black;
}

.radio-wrapper {
    width: calc(25% - 15px);
}


button {
    display: flex;
    width: 100%;
    padding: 16px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 8px;
    background-color: var(--navy);
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 8px;
}

.cta-button {
    width: 20%;
}

#count-table {
    width: 100%;
}

th {
    width: calc(33% - 10px);
    text-align: left;
    font-size: 18px;
    padding: 10px;
    background: var(--light-blue);
}

td {
    font-size: 18px;
    padding: 10px;
}

span {
    font-size: 20px;
}



.add-button-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

        .bottom-navbar {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: white;
            display: flex;
            justify-content: space-evenly;
            padding-top: 16px;
            padding-bottom: 16px;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 20px 20px;
        }

        /* Style for the bottom navigation bar links */
        .bottom-navbar a {
            color: var(--navy);
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
        }

        .header-wrapper {
            display: flex;
            flex: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 28px;
        }

        .cta-button {
                display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    color: var(--navy);
    border: none;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid var(--navy);
        height: 48px;
        }


        .cta-button:hover {
            background-color: var(--light-blue);
        }

        .nav-wrapper-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 75px;
        }

        .button-wrapper-trening {
            display: flex;
            width: 100%;
            align-items: flex-end;
            gap: 10px;
                justify-content: flex-end;
        }

    .category-wrapper {
            display: flex;
    padding: 24px;
    gap: 16px;
    background: white;
    border: 8px;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    }

    .category-wrapper-all {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

.category-content-wrapper {
        display: flex;
        align-items: center;
                gap: 8px;
    }

    body nav {
        color: #fff;
      position: fixed;
      display: flex;
      width: 75px;
      align-items: center;
      padding: 25px 15px;
      background: white;
      backdrop-filter: blur(35px);
      flex-direction: column;
      height: 100%;
      height: -webkit-fill-available;
      justify-content: space-between;
      color: var(--navy);
  
  }
  
  .nav-front {
  display: flex;
  padding: var(--padding-grid);
  justify-content: space-between;
  }

  .contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .contact-section a, iconify-icon {
    display: flex;
    color: inherit;
    justify-content: center;
    font-size: 15px;
    height: 40px;
    line-height: 0;
    width: 40px;
    padding: 10px 10px;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    border-radius: 20px;
  }
  
  .contact-section a:hover {
    background-color: var(--light-blue);
    cursor: pointer;
  }
  
  .sidenav-title {
    opacity: 0.3;
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    line-height: normal;
    font-size: 16px;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 6px;
    left: 50px;
    top: 0px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .wrapper {
    display: flex;
    gap: 20px;
  }

  .inner-75 {
    width: 75%;
  }

  .inner-25 {
    width: 25%;
  }

  .inner-37 {
    width: 37.5%;
  }


  img.logo {
    height: 36px;
  }