:root {
    --blue: #0079FF;
    --light-blue: #B2D7FF;
    --bright-blue: #E5F2FF;
    --green: #45E55F;
    --light-green: #C7F7CF;
    --bright-green: #ECFCEF;
    --red: #FF2970;
    --light-red: #FFBFD4;
    --bright-red: #FFEAF1;
    --yellow: #FFE927;
    --light-yellow: #FFF8BE;
    --bright-yellow: #FFFDE9;
    --navy: #1C172C;
    --grey: #BBB9C0;
    --light-grey: #E8E8EA;
    --dark-grey: #A4A2AB;
    --success-green: #C0FFB0;
    --success-navy-green: #29853D;
    --brand-font: Poppins, sans-serif;
    --background: #F7F7F7;
}

* {
    Font-family: Inter, Sans serif;
    color: black;
}

h1 {
    font-size: 1.7em;
    letter-spacing: -0.3px;
    line-height: 36px;
    margin-top: 36px;
    font-weight: 800;
    margin-bottom: 16px;
}

    /* Add this style to hide the actual radio buttons */
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        display: none;
    }

    #home {
margin-left: 48px;
    }

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  height: 100%;
  margin-left: 225px;
  margin-right: 50px;
  margin-bottom: 50px;
}

label {
    font-size: 1em;
    font-weight: 600;
}

select, input, .preset-button {

    padding: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: auto;
    border-radius: 4px;
}
select:focus, input:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

select {
    width: 100%;
}
    

select:hover, input:hover {
    outline: 2px solid black;
}

.rep-wrapper {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    border-right: 1px solid #e4e4e7;
    padding-bottom: 48px;
    height: 100vh;
    background-color: white;
    padding: 16px;
    width: 200px;
}

.select-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.preset-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    font-size: 16px;
}

.preset-button {

    width: 36px;
    height: 36px;
    background-color: white;
    color: black;
    border-radius: 8px;
}

.preset-button:hover {
    border: 1px solid black;
    background: #e4e4e7;
}

.preset-button:active {
    background: black;
    border: 1px solid black;
    color: white;
}

.radio-wrapper label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    text-align: left;
    border-radius: 4px;
    height: 28px;
    flex: 25%;
    gap: 8px;
    justify-content: flex-start;
    background-color: white;
    border: 1px solid transparent;
}

.radio-wrapper label:hover {
    border: 1px solid black;
    background-color: #e4e4e7;  
}

/* Style the label of the checked radio button */
input[type="radio"]:checked + label {
    color: #f4f4f5;
    background-color: black;
    border: 1px solid black;
}

input[type="radio"]:checked + label img.logo {
    filter: invert(1);
}

.radio-wrapper {
    width: 100%;
}


button {
    display: flex;
    width: 100%;
    padding: 24px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 8px;
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #333; /* Slightly lighter black on hover */
}

button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3); /* White focus ring */
}

button:active {
    background-color: #555; /* Even lighter black when pressed */
}




.cta-button {
    width: 20%;
}

#count-table {
    width: 100%;
    border-spacing: 0;
}

th {
    width: calc(33% - 10px);
    text-align: left;
    font-size: 18px;
    padding: 16px;
    background: #ced4da;
}

td {
    font-size: 18px;
    padding: 16px;
    background-color: white;
    border-bottom: 0.5px solid #e4e4e7;
}

span {
    font-size: 16px;
    padding-top: 8px;
    margin-right: 8px;
}



.add-button-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

        .bottom-navbar {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: white;
            display: flex;
            justify-content: space-evenly;
            padding-top: 16px;
            padding-bottom: 16px;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 20px 20px;
        }

        /* Style for the bottom navigation bar links */
        .bottom-navbar a {
            color: black;
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
        }

        .header-wrapper {
            display: flex;
            border-top: 1px solid #e4e4e7;
            justify-content: space-between;
            align-items: center;
            padding-top: 36px;
            padding-bottom: 16px;
        }

        .cta-button {
                display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid black;
        height: 48px;
        }

    


        .cta-button:hover {
            background: black;
            color: white;
        }

        .nav-wrapper-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 75px;
        }

        .button-wrapper-trening {
            display: flex;
            width: 100%;
            align-items: flex-end;
            gap: 10px;
                justify-content: flex-end;
        }

    .category-wrapper {
            display: flex;
    padding: 24px;
    gap: 16px;
    background: white;
    border: 8px;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    }

    .category-wrapper-all {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

.category-content-wrapper {
        display: flex;
        align-items: center;
                gap: 8px;
    }

    nav {
        color: #fff;
      position: fixed;
      display: flex;
      left: 0;
      width: 100px;
      align-items: center;
      padding: 25px 15px;
      background: white;
      backdrop-filter: blur(35px);
      flex-direction: column;
      height: 100%;
      height: -webkit-fill-available;
      justify-content: space-between;
      color: black;
  
  }
  
  .nav-front {
  display: flex;
  padding: var(--padding-grid);
  justify-content: space-between;
  }

  .contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .contact-section a, iconify-icon {
    display: flex;
    color: inherit;
    justify-content: center;
    font-size: 15px;
    height: 40px;
    line-height: 0;
    width: 40px;
    padding: 10px 10px;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
  }
  
  .contact-section a:hover {
    background-color: var(--light-blue);
    cursor: pointer;
  }
  
  .sidenav-title {
    opacity: 0.3;
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    line-height: normal;
    font-size: 16px;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 6px;
    left: 50px;
    top: 0px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .wrapper {
    display: flex;
    gap: 20px;
  }

  .inner-75 {
    width: 75%;
  }

  .inner-25 {
    width: 25%;
  }

  .inner-37 {
    width: 37.5%;
  }


  img.logo {
    height: 36px;
  }

  .wrapper-inner {
    width: 100%;
  }


  .input-wrapper {
  }

  .rep-wrapper h1 {
    margin-top: 0;
  }